<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Employees Personal Information List</title>
</head>
<style>
body {
    margin-top: 20px; 
    background-color: plum;  
}
h1 {
  text-align: center;
  font-size: 45px;
}
table {
  margin: auto;
  width: 90%;
}
thead {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}
th {
  border: 1px solid red;
  background-color: aquamarine;
}
tr {
  height: 25px;
  background-color: burlywood;
}
td {
  border: 1px solid purple;
  padding: 5px;
  text-align: left;
  width: fit-content;
}
.Action {
  width: 100px;
  text-align: center;
}
a:link {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}
</style>
<body>

    <h3 style="text-align: center;"><a href="/"> Back to Home</a></h3>

    <h1>NEW EMPLOYEES PERSONAL INFORMATION</Nav></h1>
    <!--<h3 style="text-align: center;"><a href="/Employees/Create"> Add a New Employee Personal Information</a></h3>-->
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Employee Name</th>
                <th>T.R.N Number</th>
                <th>N.I.S Number</th>
                <th>Identification Type</th>
                <th>Identification Number</th>
                <!--<th>Action</th>-->
            </tr>
        </thead>
        <tbody>
            <% if(data.length){
               
            for(var i = 0; i< data.length; i++) {%>  
                <tr>
                    <th><%= data[i].id %></th>
                    <td><%= data[i].employee_name%></td>
                    <td><%= data[i].trn_no%></td>
                    <td><%= data[i].nis_no%></td>
                    <td><%= data[i].identification_type%></td>
                    <td><%= data[i].identification_no%></td>
                    <!--<td class="Action">
                        <a href="/PersonalInfo/Edit/<%= data[i].id %>">Edit</a>&emsp;
                        <a href="/PersonalInfo/Delete/<%= data[i].id %>" style="color: red;">Delete</a>
                    </td>-->
                </tr>
                <% }
                         
                }else{ %>
                     <tr>
                        <td colspan="8">NO EMPLOYEE PERSONAL DATA!!</td>
                     </tr>
                <% } %>   
        </tbody>
    </table>
    <br>
    
</body>
</html>